@import "../settings/colours";

// Add a percentage of white to a color
@function tint($color, $percent) {
  @return mix($white, $color, $percent);
}

// Add a percentage of black to a color
@function shade($color, $percent) {
  @return mix($black, $color, $percent);
}
