@import "../environment/tools/mixins";
@import "../environment/tools/typography";
@import "../environment/tools/grid-layout";

.page-section {
  @include site-width-container;
  @include element-padding(vertical);

  + .page-section {
    padding-top: 0;
  }

  // the lobotomized owl
  // see: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  * + * {
    @include element-spacing;
  }
}

.page-section--collapse-bottom {
  padding-bottom: 0;
}
