@import "../environment/settings/colours";

.skiplinks {
  background-color: tint($blue, 65%);
}

.skiplinks__inner {
  @include site-width-container;
}

.skiplinks__link {
  color: $white;
  display: inline-block;
  left: -999em;
  padding: ($baseline-grid-unit * 2);
  position: absolute;

  &:focus {
    background-color: tint($blue, 95%);
    border: 3px solid $yellow;
    outline: none;
    position: static;
  }
}
