<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% block head %}
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <title>{% block head_title_content %}{{ title }} - NHS.UK{% endblock %}</title>

      {% block head_content %}
        <!--[if IE]><link rel="shortcut icon" href="{{ asset_path('assets/images/favicon.ico') }}"><![endif]-->
        <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
        <link rel="apple-touch-icon" href="{{ asset_path('assets/images/apple-touch-icon.png') }}">
        <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
        <link rel="icon" href="{{ asset_path('assets/images/favicon.png') }}">
      {% endblock %}
      {% block head_stylesheets %}
        <!--[if gt IE 8]><!--><link href="{{ asset_path('assets/css/nhsuk.css') }}" media="screen" rel="stylesheet" type="text/css"><!--<![endif]-->
        <!--[if IE 6]><link href="{{ asset_path('assets/css/nhsuk-ie6.css') }}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
        <!--[if IE 7]><link href="{{ asset_path('assets/css/nhsuk-ie7.css') }}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
        <!--[if IE 8]><link href="{{ asset_path('assets/css/nhsuk-ie8.css') }}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
        <link rel="stylesheet" href="{{ asset_path('assets/css/nhsuk-print.css') }}" media="print" type="text/css">
      {% endblock %}
    {% endblock %}
    <script>(function(d){d.className=d.className.replace(/\bno-js\b/,'js-enabled')})(document.documentElement)</script>
  </head>

  <body>
    {% block body %}
      {% block body_skiplinks %}
        <div class="skiplinks">
          <div class="skiplinks__inner">
            <a href="#content" class="skiplinks__link">Skip to main content</a>
          </div>
        </div>
      {% endblock %}

      {% block body_notifications %}
        <div class="notification-banner notification-banner--js-hidden util-print-hide" id="global-cookies-banner" role="alert">
          <p class="notification-banner__inner">
            NHS.UK uses cookies to make the site simpler.
            <a href="https://beta.nhs.uk/help/cookies">Find out more about cookies</a>
          </p>
        </div>
      {% endblock %}

      {% block body_site_header %}
        <header role="banner">
          <div class="global-header">
            <div class="global-header__inner">
              <a href="/" class="global-header__link">
                <img src="{{ asset_path('assets/images/logotype-nhs-mono.png') }}" alt="NHS">
              </a>
              {% block header_service_title %}
                {% if serviceTitle %}
                  <span class="global-header__service-name">{{ serviceTitle }}</span>
                {% endif %}
              {% endblock %}
            </div>
          </div>
        </header>
      {% endblock %}

      <main id="content" role="main">
        {% block body_main_content %}{% endblock %}
      </main>

      {% block body_footer %}
        <footer role="contentinfo">
          <div class="global-footer">
            <div class="global-footer__inner">
              <div>
                {% block body_footer_content %}
                  <h2 class="util-visuallyhidden">Support links</h2>
                  <ul class="link-list">
                    <li>
                      <a href="https://beta.nhs.uk/help/clinical-assurance">Clinical assurance</a>
                    </li>
                    <li>
                      <a href="https://beta.nhs.uk/help/cookies">Cookies</a>
                    </li>
                  </ul>
                {% endblock %}
              </div>
            </div>
          </div>
        </footer>
      {% endblock %}
    {% endblock %}
  </body>
</html>
