$blue: #0072c6;
$dark-blue: #003893;
$light-blue: #0091c9;
$lightest-blue: #d4efff;

$black: #000;
$grey-1: #425563;
$grey-2: #768692;
$grey-3: #d9e1e2;
$grey-4: #eff1f2;
$white: #fff;

$green: #009e49;
$light-green: #5bbf21;
$aqua-green: #00adc6;

$red: #d81e05;
$red-60: #e87869;
$red-10: #fbe8e6;

$yellow: #ffb81c;
