@import "typography";

// sass-lint:disable no-url-protocols
// sass-lint:disable indentation

@if $font-family == "Frutiger W01" {

  @import url("https://fast.fonts.net/cssapi/0985eb4d-eec4-488b-baa4-22fe85c5ce32.css");

} @else {

  @font-face {
    font-family: "FS Me";
    font-style: normal;
    font-weight: 200;
    src: url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Light.eot?") format("eot"),
         url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Light.woff") format("woff");
  }

  @font-face {
    font-family: "FS Me";
    font-style: normal;
    font-weight: 400;
    src: url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Regular.eot?") format("eot"),
         url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "FS Me";
    font-style: bold;
    font-weight: 600;
    src: url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Bold.eot?") format("eot"),
         url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "FS Me";
    font-style: bold;
    font-weight: 800;
    src: url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Heavy.eot?") format("eot"),
         url("#{$font-cdn-path}fonts/fsme/FSMeWeb-Heavy.woff") format("woff");
  }

}
