<div class="callout{{' callout--' + mod if mod}}">
  {%- if label %}
    <h2>{{label}}</h2>
  {%- endif %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos
    expedita fugiat iure, laborum libero magnam magni natus non quasi quibusdam repellendus saepe sapiente, velit.
  </p>
</div>
