{% if mod == 'one-half' %}
  <div class="link-list__row">
{% endif %}

  <ul class="link-list{{' link-list--' + mod if mod}}">
    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>
  </ul>

{% if mod == 'one-half' %}
  <ul class="link-list{{' link-list--' + mod if mod}}">
    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>
  </ul>
</div>
{% endif %}
