@import "../environment/tools/mixins/typography";

h1 {
  @include bold-font(64);
}

h2 {
  @include bold-font(36);
}

h3 {
  @include bold-font(24);
}

h4 {
  @include bold-font(20);
}

h5 {
  @include bold-font(16);
}

h6 {
  @include core-font(16);
}
