@import "../environment/settings/semantic-colours";
@import "../environment/settings/typography";

hr {
  background-color: $grey-3;
  border: 0;
  height: $baseline-grid-unit;
  text-align: left;
  width: 130px;

  .callout--alert & {
    background-color: $grey-2;
  }

  .callout--severe & {
    background-color: $white;
  }
}
