html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "FS Me";
  font-style: normal;
  font-weight: 200;
  src: url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Light.eot?") format("eot"), url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Light.woff") format("woff"); }

@font-face {
  font-family: "FS Me";
  font-style: normal;
  font-weight: 400;
  src: url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Regular.eot?") format("eot"), url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Regular.woff") format("woff"); }

@font-face {
  font-family: "FS Me";
  font-style: bold;
  font-weight: 600;
  src: url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Bold.eot?") format("eot"), url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Bold.woff") format("woff"); }

@font-face {
  font-family: "FS Me";
  font-style: bold;
  font-weight: 800;
  src: url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Heavy.eot?") format("eot"), url("/* @echo FONT_CDN_PATH */assets/fonts/fsme/FSMeWeb-Heavy.woff") format("woff"); }

.util-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.util-nofocus:focus {
  outline: none; }

.util-bg-tint__yellow {
  background-color: #fff1d2; }

@media screen {
  .util-print-only {
    display: none; } }

@media print {
  .util-print-hide {
    display: none; } }

.button {
  font-family: "FS Me", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  margin-top: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #008a40;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .5px;
  padding: 12px 24px;
  text-align: center;
  width: 100%; }
  @media (min-width: 641px) {
    .button {
      font-size: 20px;
      line-height: 32px; } }
  @media (min-width: 925px) {
    .button {
      font-size: 20px;
      line-height: 32px; } }
  @media (min-width: 925px) {
    .button {
      margin-top: 32px; } }
  @media (min-width: 641px) {
    .button {
      margin-right: 16px;
      width: auto; } }
  @media (min-width: 925px) {
    .button {
      margin-right: 32px; } }
  .button:link, .button:hover, .button:focus, .button:visited {
    background-color: #008a40;
    color: #fff;
    text-decoration: none; }
  .button:focus {
    outline: 3px solid #ffb81c; }

.button--cancel, .button--cancel:link, .button--cancel:hover, .button--cancel:focus, .button--cancel:visited {
  background-color: #d81e05;
  border-color: #d81e05; }

.callout {
  padding: 16px;
  background-color: #fff; }
  @media (min-width: 925px) {
    .callout {
      padding: 32px; } }
  .callout:focus {
    outline: 3px solid #ffb81c; }

.callout--muted {
  background-color: #d9e1e2; }

.callout--info {
  background-color: #eff1f2;
  border: solid #768692;
  border-width: 0 0 0 4px; }

.callout--attention {
  border: 12px solid #40add7; }

.callout--warning {
  background-color: #ffc649;
  border: solid #cc9316;
  border-width: 4px 0; }

.callout--alert {
  background-color: #fbe8e6;
  border-top: 12px solid #d81e05; }

.callout--severe {
  background-color: #d81e05;
  color: #fff; }
  .callout--severe a:link {
    color: #fff; }
  .callout--severe a:visited {
    color: #fff; }
  .callout--severe a:hover {
    color: #d4efff; }
  .callout--severe a:active {
    color: #d4efff; }
  .callout--severe a:focus {
    outline: 3px solid #ffb81c; }

.callout--error {
  border: 4px solid #d81e05; }

.callout--compact {
  display: inline-block; }
  @media (min-width: 925px) {
    .callout--compact {
      padding: 16px 24px; } }
