


  <div class="link-list__row">


  <ul class="link-list link-list--one-half">
    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>
  </ul>


  <ul class="link-list link-list--one-half">
    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>

    <li class="link-list__item">
      <a href="#">Link text</a>
    </li>
  </ul>
</div>


