@import '../../../src/scss/environment/settings/colours';

.Masthead {
  background-color: $white;
  border-bottom: 2px solid #0072c6;
}

.Masthead-container {
  padding: 10px 20px;
}

.Masthead a {
  text-decoration: none;
}

.Masthead-logo,
.Masthead-title {
  vertical-align: middle;
}

.Masthead-logo {
  display: inline-block;
}

.Masthead-title {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: .2em;
  color: $grey-2;
}

[dir="ltr"] .Tree-collectionLabel span::before {
  left: -2px;
  top: 0;
  bottom: 0;
  margin: auto;
}
