@import "../environment/settings/semantic-colours";
@import "../environment/tools/mixins";
@import "../environment/tools/functions";
@import "../environment/tools/typography";

.local-header {
  @include site-width-container;
  @include element-padding;
  @include element-spacing;
  background-color: $nhs-blue;
  padding-top: $baseline-grid-unit * 8;

  @include media(tablet) {
    padding-top: $baseline-grid-unit * 8;
  }

  @include media(desktop) {
    padding-top: $baseline-grid-unit * 12;
  }

  .grid-row & {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    @include ie-lte(8) {
      width: auto;
    }
  }

  a {
    @include reverse-polarity;
  }

  // the lobotomized owl
  // see: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  * + * {
    @include element-spacing;
  }
}

.local-header__return {
  @include reverse-polarity;
  background-color: $nhs-blue;
  border: $baseline-grid-unit / 2 solid tint($nhs-blue, 20);
  display: inline-block;
  margin-bottom: $baseline-grid-unit * 4;
  padding: $default-spacing-unit / 2 $default-spacing-unit;
  text-decoration: none;

  &:hover {
    border-color: tint($nhs-blue, 60);
    color: $white;
  }
}

.local-header__title {
  @include bold-font(36);
  color: $white;
  margin: 0;

  @include media(tablet) {
    padding-top: $baseline-grid-unit * 4;
  }
}

.local-header__intro {
  color: $white;
  margin-top: $baseline-grid-unit * 4;
  max-width: $measure;
  padding-top: $baseline-grid-unit * 4;
  position: relative;

  @include media(desktop) {
    margin-top: $baseline-grid-unit * 8;
    padding-top: $baseline-grid-unit * 4;
  }

  &:before {
    background-color: tint($nhs-blue, 20);
    content: "";
    display: block;
    height: $baseline-grid-unit;
    left: 0;
    position: absolute;
    top: -($baseline-grid-unit / 2);
    width: 130px;
  }
}
