@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0; }

html,
body,
button,
input,
table,
td,
th {
  font-family: Arial, sans-serif; }

html {
  background-color: #005eb8;
  color: #231f20; }

body {
  background-color: #fff; }

.util-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.util-nofocus:focus {
  outline: none; }

.util-bg-tint__yellow {
  background-color: #fdf2d5; }

@media screen {
  .util-print-only {
    display: none; } }

@media print {
  .util-print-hide {
    display: none; } }

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle; }

h1 {
  font-family: sans-serif;
  font-size: 22pt;
  font-weight: 600;
  line-height: 48px;
  text-transform: none; }
  @media (min-width: 641px) {
    h1 {
      font-size: 48px;
      line-height: 64px; } }
  @media (min-width: 925px) {
    h1 {
      font-size: 64px;
      line-height: 80px; } }

h2 {
  font-family: sans-serif;
  font-size: 18pt;
  font-weight: 600;
  line-height: 40px;
  text-transform: none; }
  @media (min-width: 641px) {
    h2 {
      font-size: 32px;
      line-height: 48px; } }
  @media (min-width: 925px) {
    h2 {
      font-size: 36px;
      line-height: 48px; } }

h3 {
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: 600;
  line-height: 32px;
  text-transform: none; }
  @media (min-width: 641px) {
    h3 {
      font-size: 24px;
      line-height: 32px; } }
  @media (min-width: 925px) {
    h3 {
      font-size: 24px;
      line-height: 32px; } }

h4 {
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: 600;
  line-height: 32px;
  text-transform: none; }
  @media (min-width: 641px) {
    h4 {
      font-size: 20px;
      line-height: 32px; } }
  @media (min-width: 925px) {
    h4 {
      font-size: 20px;
      line-height: 32px; } }

h5 {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: 600;
  line-height: 24px;
  text-transform: none; }
  @media (min-width: 641px) {
    h5 {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 925px) {
    h5 {
      font-size: 16px;
      line-height: 24px; } }

h6 {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 24px;
  text-transform: none; }
  @media (min-width: 641px) {
    h6 {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 925px) {
    h6 {
      font-size: 16px;
      line-height: 24px; } }

ul {
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  list-style: disc outside;
  padding-left: 1em; }
  @media (min-width: 641px) {
    ul {
      font-size: 20px;
      line-height: 32px; } }
  @media (min-width: 925px) {
    ul {
      font-size: 20px;
      line-height: 32px; } }

ol {
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  list-style: decimal outside;
  padding-left: 1em; }
  @media (min-width: 641px) {
    ol {
      font-size: 20px;
      line-height: 32px; } }
  @media (min-width: 925px) {
    ol {
      font-size: 20px;
      line-height: 32px; } }
  ol li {
    padding-left: .2em; }

dl {
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 32px;
  text-transform: none; }
  @media (min-width: 641px) {
    dl {
      font-size: 20px;
      line-height: 32px; } }
  @media (min-width: 925px) {
    dl {
      font-size: 20px;
      line-height: 32px; } }
  dl dt {
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: 600;
    line-height: 32px;
    text-transform: none; }
    @media (min-width: 641px) {
      dl dt {
        font-size: 20px;
        line-height: 32px; } }
    @media (min-width: 925px) {
      dl dt {
        font-size: 20px;
        line-height: 32px; } }

.local-header dd,
.page-section dd,
.global-footer dd {
  margin-top: 8px; }

.local-header li + li,
.page-section li + li,
.global-footer li + li {
  margin-top: 8px; }

.local-header li > ul,
.local-header li > ol,
.local-header li > dl,
.page-section li > ul,
.page-section li > ol,
.page-section li > dl,
.global-footer li > ul,
.global-footer li > ol,
.global-footer li > dl {
  margin-top: 8px; }

.list--chevron {
  list-style: none;
  padding-left: 32px; }
  .list--chevron li {
    position: relative; }
    .list--chevron li:before, .list--chevron li:after {
      border-style: solid;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      top: 6px;
      width: 0; }
    .list--chevron li:before {
      border-color: transparent transparent transparent #425563;
      border-width: 10px 0 10px 10px;
      left: -32px; }
      .callout--warning .list--chevron li:before {
        border-left-color: #231f20; }
      .callout--severe .list--chevron li:before {
        border-left-color: #fff; }
    .list--chevron li:after {
      border-color: transparent transparent transparent #fff;
      border-width: 10px 0 10px 10px;
      left: -38px; }
      .callout--info .list--chevron li:after,
      .panel .list--chevron li:after {
        border-left-color: #f0f4f5; }
      .callout--warning .list--chevron li:after {
        border-left-color: #fdf2d5; }
      .callout--alert .list--chevron li:after {
        border-left-color: #f5e6e4; }
      .callout--severe .list--chevron li:after {
        border-left-color: #da291c; }

.list--check,
.list--cross {
  list-style: none;
  padding-left: 32px; }
  .list--check li,
  .list--cross li {
    position: relative; }
    .list--check li::before, .list--check li::after,
    .list--cross li::before,
    .list--cross li::after {
      content: "";
      left: -32px;
      position: absolute;
      zoom: 1; }

.list--check li::before {
  background: transparent;
  border: solid;
  border-color: #007f3b;
  border-width: 0 0 5px 5px;
  height: 12px;
  top: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 22px; }

.list--cross li::before, .list--cross li::after {
  background: #da291c;
  height: 5px;
  top: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 24px; }

.list--cross li::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

a:link {
  color: #005eb8; }

a:visited {
  color: #003087; }

a:hover {
  color: #4c92d9; }

a:active {
  color: #4c92d9; }

a:focus {
  outline: 3px solid #ffb81c; }

.link--reverse-polarity:link {
  color: #fff; }

.link--reverse-polarity:visited {
  color: #fff; }

.link--reverse-polarity:hover {
  color: #d4efff; }

.link--reverse-polarity:active {
  color: #d4efff; }

.link--reverse-polarity:focus {
  outline: 3px solid #ffb81c; }

blockquote {
  quotes: "“" "”"; }
  blockquote p:before {
    content: open-quote; }
  blockquote p:after {
    content: no-close-quote; }
  blockquote p:last-of-type {
    margin-bottom: 0; }
    blockquote p:last-of-type:after {
      content: close-quote; }

body {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  @media (min-width: 641px) {
    body {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 925px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

a {
  color: #231f20 !important;
  font-weight: 700;
  text-decoration: none; }
  a::after {
    font-weight: 400; }
  a:visited {
    word-wrap: break-word; }
  a[href^="/"]:after {
    content: " (https://www.nhs.uk" attr(href) ")";
    font-size: 90%; }
  a[href^="http://"]:after, a[href^="https://"]:after {
    content: " (" attr(href) ")";
    font-size: 90%; }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

img {
  max-width: 15cm; }

.media__caption {
  font-size: .9em;
  font-style: italic;
  margin-top: 0; }

select {
  background: #fff; }

hr {
  border: 1mm solid #aeb7bd;
  margin: .8cm 0;
  width: 15%; }

.global-header__link::after {
  content: none !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1cm 0 .5cm;
  page-break-after: avoid; }

p,
figure {
  margin: .5cm 0; }

details {
  margin: 1cm 0; }
  details summary {
    font-family: sans-serif;
    font-size: 16pt;
    font-weight: 600;
    line-height: 32px;
    text-transform: none;
    margin-bottom: .5cm; }
    @media (min-width: 641px) {
      details summary {
        font-size: 24px;
        line-height: 32px; } }
    @media (min-width: 925px) {
      details summary {
        font-size: 24px;
        line-height: 32px; } }
    details summary::-webkit-details-marker {
      display: none; }

.tabs-panel,
.callout {
  page-break-inside: avoid; }

.callout--compact {
  display: inline-block; }

body footer,
.visuallyhidden,
.skiplinks,
.local-header .link-list {
  display: none; }
