

<!DOCTYPE html>
<html class="no-js">
<head>
  <link rel="stylesheet" href="../../assets/css/nhsuk.css"/>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js-enabled');
  </script>
  <style>
    html {
      background-color: #fff;
      margin: 5px;
    }
    body {
      box-shadow: inset 0 0 0 1px #e6e6e6;
      background: #fff;
    }
  </style>
</head>
<body>
  <div class="notification-banner util-print-hide" id="global-cookies-banner" role="alert">
  <p class="notification-banner__inner">
    NHS.UK uses cookies to make the site simpler.
    <a href="https://beta.nhs.uk/help/cookies">Find out more about cookies</a>
  </p>
</div>

</body>
</html>

