{% from '_macros.nunjucks' import example %}

{% call example('button') %}
  <button class="button">Submit</button>
{% endcall %}

{% call example('button--cancel') %}
  <button class="button button--cancel">Cancel</button>
{% endcall %}
