{% from '_macros.nunjucks' import example %}

{% call example('figure') %}
  <figure>
    <img src="https://beta.nhs.uk/assets/images/logotype-nhs-colour__reverse.a8bbff0a0b5b65f10abb57e872e24efd.png" alt="NHS">
    <figcaption>NHS Logo</figcaption>
  </figure>
{% endcall %}
