{% from '_macros.nunjucks' import example %}

{% call example('fieldset and textarea') %}
  <fieldset>
    <legend>Profile</legend>
    <label for="profile">About yourself</label>
    <textarea id="profile" cols="30" rows="10"></textarea>
  </fieldset>
{% endcall %}
