.button {
  @include bold-font(20);
  @include element-spacing;

  appearance: none;
  background-color: $button-background;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .5px;
  padding: ($baseline-grid-unit * 3) ($baseline-grid-unit * 6);
  text-align: center;
  width: 100%;

  @include media(tablet) {
    margin-right: $default-spacing-unit;
    width: auto;
  }

  @include media(desktop) {
    margin-right: $default-spacing-unit * 2;
  }

  &:link,
  &:hover,
  &:focus,
  &:visited {
    background-color: $button-background;
    color: $white;
    text-decoration: none;
  }

  &:focus {
    outline: 3px solid $focus-colour;
  }
}

.button--cancel {
  &,
  &:link,
  &:hover,
  &:focus,
  &:visited {
    background-color: $red;
    border-color: $red;
  }
}
