@import "../environment/settings/semantic-colours";
@import "../environment/settings/typography";
@import "../environment/tools/functions";
@import "../environment/tools/mixins";
@import "../environment/tools/typography";

.callout {
  @include element-padding;
  background-color: $white;

  &:focus {
    outline: 3px solid $focus-colour;
  }
}

.callout--muted {
  background-color: $grey-3;
}

.callout--info {
  background-color: $grey-4;
  border: solid $grey-2;
  border-width: 0 0 0 $baseline-grid-unit;
}

.callout--attention {
  border: ($baseline-grid-unit * 3) solid tint($light-blue, 25%);
}

.callout--warning {
  background-color: tint($yellow, 20);
  border: solid shade($yellow, 20);
  border-width: $baseline-grid-unit 0;
}

.callout--alert {
  background-color: $red-10;
  border-top: $baseline-grid-unit * 3 solid $red;
}

.callout--severe {
  background-color: $red;
  color: $white;

  a {
    @include reverse-polarity;
  }
}

.callout--error {
  border: $baseline-grid-unit solid $red;
}

.callout--compact {
  display: inline-block;

  @include media(desktop) {
    padding: $baseline-grid-unit * 4 $baseline-grid-unit * 6;
  }
}
