@import "../settings/semantic-colours";
@import "../settings/typography";

html,
body,
button,
input,
table,
td,
th {
  font-family: $nhs-font-stack;
}

html {
  background-color: $nhs-blue;
}

body {
  background-color: $white;
}
